{% extends 'base.html' %}

{% block content %}

<style>
  .list-group-item:hover {
    background-color: #007bff;
    color: #fff;
  }
</style>

{% if user.is_authenticated %}

<ul class="list-group">
    <li class="list-group-item active bg-primary" aria-current="true">
    <a class="nav-link text-white" ><h5>Admin panel </h5></a>
  </li>
  <li class="list-group-item ">
    <a class="nav-link " href="{% url 'posts' %}"><h5>View Job Posting</h5></a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'view_all_history' %}"><h5>View Saved History</h5></a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'admin_manage' %}"><h5>Job Posting Management</h5></a>
  </li>
</ul>




{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}