{% extends 'base.html' %}

{% block content %}



{% if user.is_authenticated %}




<ul>
	<li> <a class="nav-link" href="{% url 'posts' %}">Job Posting and Management</a></li>
	<li><a class="nav-link" href="{% url 'upload_form' %}">Candidate Search and Matching</a></li>




</ul>

<select class="form-select" aria-label="Default select example">
  <option selected>Select position needed</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>





{% else %}

<div class="col-md-6 offset-md-3">
<h1>Login</h1>
<br/>

<form method="POST" action="{% url 'home' %}">
	{% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}