{% extends 'base.html' %}

{% block content %}


<style>
  .list-group-item:hover {
    background-color: #007bff;
    color: #fff;
  }
</style>


{% if user.is_authenticated %}

<ul class="list-group">
      <li class="list-group-item active bg-primary" aria-current="true">
    <a class="nav-link text-white" ><h5>Recruiter panel </h5></a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'posts' %}"><h5>View Job Postings </h5></a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'upload_form' %}"><h5>Candidate Search and Matching</h5></a>
  </li>
  <li class="list-group-item">
    <a class="nav-link" href="{% url 'view_all_history' %}"><h5>View Saved History</h5></a>
  </li>
</ul>






{% else %}

<div class="col-md-6 offset-md-3">
  <br/>




<h1>Login</h1>
<br/>
<br/>

<form method="post" action="{% url 'home' %}?next={{ request.path }}">
  {% csrf_token %}

  <div class="mb-3">
    <input type="text" class="form-control" name="username", placeholder="Username" required>
    
  </div><br/>
  <div class="mb-3">
    <input type="password" class="form-control" name="password", placeholder="Password" required>
  </div>
  <br/>
  <button type="submit" class="btn btn-secondary">Login</button>

</form>



{% endif %}

{% endblock %}