{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">Upload Multiple Files</h1>
        <form method="post" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="selected_position" class="form-label">Select position needed</label>
                <select class="form-select form-select-lg" name="selected_position" aria-label="Select position needed">
                    <option selected>Select position needed</option>
                    {% for post in posts %}
                        <option value="{{ post.id }}">{{ post.position }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
            {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
{% endblock %}
