{% extends 'base.html' %} <!-- You can extend from your base template if you have one -->

{% block content %}
  <h1>All Positions' History</h1>
  
  <!-- Filter dropdown menu -->
  <form method="GET">
    <label for="position">Filter by Position:</label>
    <select name="position" id="position">
      <option value="">All Positions</option>
      {% for position in positions %}
        <option value="{{ position.id }}">{{ position.position }}</option>
      {% endfor %}
    </select>
    <button type="submit">Apply Filter</button>
  </form>
  
  <h2>Matched CVs</h2>
  {% for position, matched_cvs in matched_cvs_by_position.items %}
    <h3>Position: {{ position.position }}</h3>
<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Email</th>
          <th>Date Matched</th>
        </tr>
      </thead>
      <tbody>
        {% for match in matched_cvs %}
          <tr>
            <td>{{ match.cv.name }}</td>
            <td>{{ match.cv.phone }}</td>
            <td>{{ match.cv.email }}</td>
            <td>{{ match.match_date }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endfor %}
  
{% endblock %}
